__pycache__/*
respobot/__pycache__/*
respobot/commands/__pycache__/*

*.pyc

misc/*
log/*
logutils/*
!get_local_logs.bat
!get_server_logs.bat
!parse_logs.py

.env
sandbox.py
*.sqlite
*.sqlite-journal
*.json

*.sublime-*

media/tmp*